body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 2rem;
}

html{
  font-size: 62.5%;
}

main {
  flex: 1 0 auto;
}

a {
  cursor: pointer;
}

h2{
  margin:0;
  padding:0;
}
/*****************
* Utility
*/
.u-bgcolor-black{
  background-color: black;
}

.u-bgcolor-blue{
  background-color: #26c6da;
}

.u-text-size{
  font-size: 1.5rem;
}

.u-position-relative {
  position: relative;
}

.u-center-text {
  text-align: center;
}

.u-color-green{
  color: rgb(0, 255, 0);
}

.push{
  margin-bottom: 10rem;
}
/*****************
* Navigation
*/
nav{
  border-bottom: .5px solid black;
}

/*****************
* Jumbotron
*/
.jumbotron{
  height: 70rem;
  background-image: linear-gradient(to bottom right, #26c5da5e,#26c6da5e),url("../img/bg1.JPG");
  background-size: cover;
  position: relative;
}

.profile-picture{
  width: 45rem;
  height: 45rem;
  border-radius: 300px;
  position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%, -50%);
  border: .5rem solid black;
}

.jumbo-content{
  position: absolute;
  top:85%;
  left:50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Modern Antiqua', cursive;
  font-size: 4rem;
  line-height: 1.5;
}

/*****************
* Main
*/
.section-title{
  color: #0aa9be;
  font-size: 5rem;
  padding: 3rem 0;
  border-top: 2px solid #0aa9be;
  border-bottom: 2px solid #0aa9be;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 3rem;
}

.section-bg-color{
  background-color: #f0eeee;
  border-radius: 10px;
}

.section-content{
  font-size: 3rem;
}

/*****************
* About
*/
.about-content-highlight{
  border-left: 5px solid #0aa9be;
  background-color: #cacaca;
  margin-bottom: 2rem;
}

.about-content{
  padding: 0 2.5rem 2.5rem 2.5rem;
}

.about-content-p:not(:last-child){
  margin-bottom: 2rem;
}
/*****************
* Portfolio  
*/
#portfolio{
  padding-bottom: 3rem;
}

.portfolio-content{
  margin: 0 auto;
  width: 825px;
}

.portfolio-content-row{
  display:flex;
}

.portfolio-image, .portfolio-content-image{
  max-width: 27.5rem;
  max-height: 27.5rem;
  position: relative;
  height:100%;
  width:100%;
}

.portfolio-h3{
  position: absolute;
  z-index: 5;
  top:70%;
  text-decoration: none;
  background-color: #26c6da;
  width: 27.5rem;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin: 0;
  padding:1rem;
  border: 1px solid black;
}

.portfolio-content-single:hover{
  z-index:10;
  transform: translateY(-.5rem) scale(1.1);
  animation: all .5s;
  box-shadow: 5px 5px 5rem #26c6da;
}


/*****************
* Contact
*/
label{
  font-size: 3rem;
}

.form-group:not(:first-child){
  margin-top: 2.5rem;
}
input:focus{
  border-bottom:1px solid #26c6da !important;
}

.form{
  max-width: 82.5rem;
  margin: 0 auto;
}

.submit{
  margin: 2rem 0;
  background-color: #26c6da;
}

.submit:hover{
  background-color: #26c6da;;
}

.form{
  max-width: 75rem;
}
/*****************
* Footer  
*/
.footer-content{
  height: 5rem;
}

.logo-box{
  width: 30rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top:30%;
  left:50%;
  transform: translate(-50%, -50%);
}

.logo{
  width: 5rem;
  height: 5rem;
}